# Имя проекта для docker compose (префикс для сетей/volumes/контейнеров)
COMPOSE_PROJECT_NAME=eng-conf-form-handler
API_IMAGE_TAG=1.0.0

# --- Webhook auth (Tilda -> сервис) ---
TILDA_API_KEY_NAME=Authorization
TILDA_API_KEY_VALUE=supersecret-token

# --- MongoDB ---
MONGO_URI=mongodb://mongo:27017
MONGO_DB=eng_conference
MONGO_COLLECTION=submissions

# --- Uvicorn / app (опционально) ---
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=info